<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.79.0">
    <title>Starter Template · Bootstrap v5.0</title>

    <!-- Bootstrap core CSS -->
    <link href="./demo/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="icon" href="./demo/favicon.ico">
    <meta name="theme-color" content="#7952b3">

        <!-- Custom styles for this template -->
        <link href="./demo/starter-template.css" rel="stylesheet">
        <link rel="stylesheet" href="./css/default.css" />
        <script src="./js/jquery.js"></script>
        <script src="./js/home.js"></script>