<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Activation Email</title>
    <style>
        #logo{width: 100px; clear: both;}
    </style>
</head>
<body>
    <img id="logo" src="http://localhost:3000/img/user.png" />
    <h2>Welcome to Covid Page</h2>
    <h3>Please click this <a target="_blank" href="http://localhost:3000/active/XXX">link</a> 
        to active your account</h3>
</body>
</html>