<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinhvien</title>
</head>
<body>
    <h2>Sinh Vien</h2>
    <form action="./xuly" method="POST">
        <input type="text" name="hoten" id="hoten" /> <br />
        <input type="text" name="namsinh" id="namsinh"> <br />
        <input type="submit" value="Add new" />
    </form>
</body>
</html>